/* navbar */
html { 
    background: url(bg.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: inline;
}

#navbar ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    background-color: white;
}

#navbar li {
    float: left;
    background-color: white;
}

#navbar img {
    width: 50px;
    height: 50px;
    background-color: white;
}


#navbar a {
    width: 140px;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: var(--body-font-color);
    display: block;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    background-color: white;
}

#navbar a:link { text-decoration: none; }


#navbar a:visited { text-decoration: none; }


#navbar a:hover {
    width: 140px;
    height: auto;
    text-decoration: none; 
    background-color: #CBC5C9;
}


#navbar a:active { text-decoration: none; }

/* homepage */
h1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: white;
}

/* Contact Us */
#contact ul{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 750px;
    height: 250px;
    opacity: 90%;
    background-color: white;
    border-radius: 7px;
}

#contact li p{
    left: 10px;
    opacity:100%;
    display: block;
    justify-content: center;
    position: relative;
    align-items: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: black;
}

/* About Us */
#WhoWeAre {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 20%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 20%;
    height: 300px;
    background-color: white;
    border-radius: 7px;
}

#WhoWeAre h2 {
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

#WhoWeAre p {
    margin-left: 10px;
    margin-right: 10px;;
    font-size: 1.1em;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: black;
}

#Mission {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 20%;
    height: 300px;
    background-color: white;
    border-radius: 7px;
}

#Mission h2 {
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

#Mission p {
    margin-left: 10px;
    margin-right: 10px;;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: black;
}

#Vision {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 80%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 20%;
    height: 300px;
    background-color: white;
    border-radius: 7px;
}

#Vision h2 {
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

#Vision p {
    margin-left: 10px;
    margin-right: 10px;;
    font-size: 1.6em;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: black;
}

/* ProMe */
#TimeManagementTips {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    height: 15%;
    width: 50%;
    opacity: 90%;
    background-color: white;
    border-radius: 7px;
}

#TimeManagementTips h2 {
    font-size: 2.5em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}



#LearnSkills {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    height: 15%;
    width: 50%;
    opacity: 90%;
    background-color: white;
    border-radius: 7px;
}

#LearnSkills h2 {
    font-size: 2.5em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}


#Chill {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    height: 15%;
    width: 50%;
    opacity: 90%;
    background-color: white;
    border-radius: 7px;
}

#Chill h2 {
    font-size: 2.5em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

