/* navbar  */
html { 
    background: url(bg.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: inline;
}

#navbar ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    background-color: white;
}

#navbar li {
    float: left;
    background-color: white;
}

#navbar img {
    width: 50px;
    height: 50px;
    background-color: white;
}


#navbar a {
    width: 140px;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: var(--body-font-color);
    display: block;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    background-color: white;
}

#navbar a:link { text-decoration: none; }


#navbar a:visited { text-decoration: none; }


#navbar a:hover {
    width: 140px;
    height: auto;
    text-decoration: none; 
    background-color: #CBC5C9;
}


#navbar a:active { text-decoration: none; }
/* navbar */


/* Homepage "ProDay" */
h1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: white;
}


/* aboutus */
#WhoWeAre {
    position: relative;
    left: 

}

#Mission {

}

#Vision {

}