/* navbar */
html { 
    background: url(bg.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: inline;
}

#navbar ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    background-color: white;
}

#navbar li {
    float: left;
    background-color: white;
}

#navbar img {
    width: 50px;
    height: 50px;
    background-color: white;
}


#navbar a {
    width: 140px;
    font-size: 1.3rem;
    font-family: monospace;
    font-weight: 600;
    color: var(--body-font-color);
    display: block;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    background-color: white;
}

#navbar a:link { text-decoration: none; }


#navbar a:visited { text-decoration: none; }


#navbar a:hover {
    width: 140px;
    height: auto;
    text-decoration: none; 
    background-color: #CBC5C9;
}


#navbar a:active { text-decoration: none; }



/* homepage */
h1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: monospace;
    font-weight: 600;
    color: white;
}



/* Contact Us */
#contact ul{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 750px;
    height: 250px;
    opacity: 90%;
    background-color: white;
    border-radius: 7px;
}

#contact li p{
    left: 10px;
    opacity:100%;
    display: block;
    justify-content: center;
    position: relative;
    align-items: center;
    font-size: 24px;
    font-family: monospace;
    font-weight: 600;
    color: black;
}

/* About Us */
#WhoWeAre {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 20%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 20%;
    height: 300px;
    background-color: white;
    border-radius: 7px;
    opacity: 0.4;
}

#WhoWeAre h2 {
    font-size: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 600;
}

#WhoWeAre p {
    margin-left: 10px;
    margin-right: 10px;;
    font-size: 1.2em;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 400;
    color: black;
}

#WhoWeAre:hover {
    opacity: 0.9;
}

#Mission {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 20%;
    height: 300px;
    background-color: white;
    border-radius: 7px;
    opacity: 0.4;
}

#Mission h2 {
    font-size: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 600;
}

#Mission p {
    margin-left: 10px;
    margin-right: 10px;;
    font-size: 1.6em;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 400;
    color: black;
}

#Mission:hover {
    opacity: 0.9;
}

#Vision {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 80%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 20%;
    height: 300px;
    background-color: white;
    border-radius: 7px;
    opacity: 0.4;
}

#Vision h2 {
    font-size: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 600;
}

#Vision p {
    margin-left: 10px;
    margin-right: 10px;;
    font-size: 1.7em;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 400;
    color: black;
}

#Vision:hover {
    opacity: 0.9;
}

/* ProMe */
#TimeManagementTips {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    height: 15%;
    width: 50%;
    opacity: 40%;
    background-color: white;
    border-radius: 7px;
}

#TimeManagementTips h2 {
    font-size: 3em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 600;
}

#TimeManagementTips:hover {
    opacity: 0.9;
}


#LearnSkills {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    height: 15%;
    width: 50%;
    opacity: 40%;
    background-color: white;
    border-radius: 7px;
}

#LearnSkills:hover {
    opacity: 0.9;
}

#LearnSkills h2 {
    font-size: 3em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 600;
}


#Chill {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    height: 15%;
    width: 50%;
    opacity: 40%;
    background-color: white;
    border-radius: 7px;
}

#Chill:hover {
    opacity: 0.9;
}

#Chill h2 {
    font-size: 3em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 600;
}

/* happiness tips */
#no1 {
    margin: 0;
    position: absolute;
    top: 31%;
    left: 18%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 30%;
    height: 170px;
    background-color: white;
    border-radius: 7px;
    opacity: 0.4;
}

#no1:hover {
    opacity: 0.9;
}

#no1 h2 {
    font-size: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 600;
}

#no1 p {
    margin-left: 10px;
    margin-right: 10px;;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 400;
    color: black;
}

#no2 {
    margin: 0;
    position: absolute;
    top: 31%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 30%;
    height: 170px;
    background-color: white;
    border-radius: 7px;
    opacity: 0.4;
}

#no2:hover {
    opacity: 0.9;
}

#no2 h2 {
    font-size: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 600;
}

#no2 p {
    margin-left: 10px;
    margin-right: 10px;;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 400;
    color: black;
}


#no3 {
    margin: 0;
    position: absolute;
    top: 31%;
    left: 82%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 30%;
    height: 170px;
    background-color: white;
    border-radius: 7px;
    opacity: 0.4;
}

#no3:hover {
    opacity: 0.9;
}

#no3 h2 {
    font-size: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 600;
}

#no3 p {
    margin-left: 10px;
    margin-right: 10px;;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 400;
    color: black;
}

#no4 {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 18%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 30%;
    height: 170px;
    background-color: white;
    border-radius: 7px;
    opacity: 0.4;
}

#no4:hover {
    opacity: 0.9;
}

#no4 h2 {
    font-size: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 600;
}

#no4 p {
    margin-left: 10px;
    margin-right: 10px;;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 400;
    color: black;
}

#no5 {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 30%;
    height: 170px;
    background-color: white;
    border-radius: 7px;
    opacity: 0.4;
}

#no5:hover {
    opacity: 0.9;
}

#no5 h2 {
    font-size: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 600;
}

#no5 p {
    margin-left: 10px;
    margin-right: 10px;;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 400;
    color: black;
}


#no6 {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 82%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 30%;
    height: 170px;
    background-color: white;
    border-radius: 7px;
    opacity: 0.4;
}

#no6:hover {
    opacity: 0.9;
}

#no6 h2 {
    font-size: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 600;
}

#no6 p {
    margin-left: 10px;
    margin-right: 10px;;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 400;
    color: black;
}



#no7 {
    margin: 0;
    position: absolute;
    top: 82%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 94%;
    height: 210px;
    background-color: white;
    border-radius: 7px;
    opacity: 0.4;
}

#no7:hover {
    opacity: 0.9;
}

#no7 h2 {
    font-size: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 600;
}

#no7 p {
    margin-left: 10px;
    margin-right: 10px;;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-family: monospace;
    font-weight: 400;
    color: black;
}